In [12]:
import pandas
import altair

In [13]:
data = pandas.read_csv("..//NYPD_Complaint_Data_Historic.csv")
type(data)

C:\Users\Kaninik\AppData\Local\Temp\ipykernel_12824\2705847737.py:1: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pandas.read_csv("..//NYPD_Complaint_Data_Historic.csv")

pandas.core.frame.DataFrame

In [14]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  float64
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   float64
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: float64(8), int64(2), object(25)
memory usage: 2.0+ GB

,CMPLNT_NUM,ADDR_PCT_CD,KY_CD,PD_CD,JURISDICTION_CODE,X_COORD_CD,Y_COORD_CD,TRANSIT_DISTRICT,Latitude,Longitude
count,7.825499e+06,7.823333e+06,7.825499e+06,7.818738e+06,7.818738e+06,7.808160e+06,7.808160e+06,172475.000000,7.808160e+06,7.808160e+06
mean,5.500321e+08,6.334306e+01,2.968756e+02,4.126822e+02,7.088369e-01,1.004886e+06,2.071330e+05,13.605833,4.073517e+01,-7.392551e+01
std,2.597822e+08,3.450825e+01,1.511127e+02,2.176568e+02,6.648380e+00,2.169996e+04,3.139557e+04,12.475836,8.609054e-02,7.825796e-02
min,1.000001e+08,1.000000e+00,1.010000e+02,1.000000e+02,0.000000e+00,1.110000e+02,1.110000e+02,1.000000,4.011271e+01,-7.751921e+01
25%,3.250977e+08,4.000000e+01,1.170000e+02,2.540000e+02,0.000000e+00,9.917690e+05,1.844240e+05,3.000000,4.067280e+01,-7.397287e+01
50%,5.500406e+08,6.300000e+01,3.410000e+02,3.800000e+02,0.000000e+00,1.004419e+06,2.061090e+05,11.000000,4.073236e+01,-7.392721e+01
75%,7.750019e+08,9.400000e+01,3.510000e+02,6.370000e+02,0.000000e+00,1.016689e+06,2.351720e+05,30.000000,4.081215e+01,-7.388291e+01
max,9.999999e+08,1.230000e+02,8.810000e+02,9.750000e+02,9.700000e+01,1.067298e+06,7.250292e+06,34.000000,5.965727e+01,-7.368479e+01

In [5]:
def make_categorical(dataframe, column):
    # make the column of the dataframe categorical
    dataframe[column] = dataframe[column].astype('category')

# get a lst of all the columns in the dataframe
columns = ['ADDR_PCT_CD', 'BORO_NM', 'CRM_ATPT_CPTD_CD', 'HADEVELOPT', 'HOUSING_PSA', 'JURISDICTION_CODE', 'JURIS_DESC', 'KY_CD', 'LAW_CAT_CD', 'LOC_OF_OCCUR_DESC', 'OFNS_DESC', 'PARKS_NM', 'PATROL_BORO', 'PD_CD', 'PD_DESC', 'RPT_DT', 'STATION_NAME', 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX']

    # make each column categorical
for column in columns:
    make_categorical(data, column)

In [6]:
patrol_count = data['ADDR_PCT_CD'].value_counts()

In [27]:
# using altair plot the number of crimes per patrol_boro in a bar chart
altair.Chart(patrol_count.reset_index()).mark_bar().encode(
    x='index',
    y='ADDR_PCT_CD',
).properties(
    title='Number of crimes per patrol_boro',
    width=1000,
    height=500
)

alt.Chart(...)

In [ ]:
susp_race_count = data['SUSP_RACE'].value_counts()
# using altair plot the number of crimes per SUSPECT RACE in a bar chart
altair.Chart(susp_race_count.reset_index()).mark_bar().encode(
    x='index',
    y='SUSP_RACE',
).properties(
    title='Number of crimes per suspect race',
    width=1000,
    height=500
)

In [ ]:
data['SUSP_AGE_GROUP'].info()

In [ ]:
#remove values without "-" to remove values except age group
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.contains("-"), data['SUSP_AGE_GROUP'], None)

In [ ]:
#remove values started with "-" to remove values with minus numbers
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.startswith("-"), None, data['SUSP_AGE_GROUP'])

In [ ]:
data['SUSP_AGE_GROUP'].value_counts()

In [ ]:
susp_age_count = data['SUSP_AGE_GROUP'].value_counts()

# using altair plot the number of crimes per SUSPECT AGE GROUP in a bar chart
altair.Chart(susp_age_count.reset_index()).mark_bar().encode(
    x='index',
    y='SUSP_AGE_GROUP',
).properties(
    title='Number of crimes per suspect age group',
    width=1000,
    height=500
)

In [ ]:
susp_sex_count = data['SUSP_SEX'].value_counts()

# using altair plot the number of crimes per SUSPECT SEX in a bar chart
altair.Chart(susp_sex_count.reset_index()).mark_bar().encode(
    x='index',
    y='SUSP_SEX',
).properties(
    title='Number of crimes per suspect sex',
    width=1000,
    height=500
)

In [11]:
# show the value counts for each OFNS_DESC
data['OFNS_DESC'].value_counts()

PETIT LARCENY                      1331246
HARRASSMENT 2                      1020122
ASSAULT 3 & RELATED OFFENSES        822614
CRIMINAL MISCHIEF & RELATED OF      789690
GRAND LARCENY                       679846
                                    ...
FORTUNE TELLING                         12
ABORTION                                 7
OFFENSES AGAINST MARRIAGE UNCL           5
KIDNAPPING AND RELATED OFFENSES          3
UNDER THE INFLUENCE OF DRUGS             3
Name: OFNS_DESC, Length: 71, dtype: int64

In [10]:
# using altair plot the types of crime per patrol_boro in a stacked bar chart
type_by_precint = data.groupby(['ADDR_PCT_CD', 'OFNS_DESC']).size().reset_index(name='count')
type_by_precint

     ADDR_PCT_CD                             OFNS_DESC  count
0            1.0                              ABORTION      0
1            1.0                   ADMINISTRATIVE CODE     63
2            1.0                  ADMINISTRATIVE CODES      0
3            1.0  AGRICULTURE & MRKTS LAW-UNCLASSIFIED      2
4            1.0        ALCOHOLIC BEVERAGE CONTROL LAW      2
...          ...                                   ...    ...
5462       123.0                           THEFT-FRAUD   1227
5463       123.0         UNAUTHORIZED USE OF A VEHICLE    246
5464       123.0          UNDER THE INFLUENCE OF DRUGS      1
5465       123.0        UNLAWFUL POSS. WEAP. ON SCHOOL      0
5466       123.0              VEHICLE AND TRAFFIC LAWS    300

[5467 rows x 3 columns]

In [9]:

altair.Chart(type_by_precint).mark_bar().encode(
    x='ADDR_PCT_CD',
    y='count()',
    color='OFNS_DESC'
).properties(
    title='Types of crime per patrol_boro',
    width=1000,
    height=500
)

MaxRowsError: The number of rows in your dataset is greater than the maximum allowed (5000). For information on how to plot larger datasets in Altair, see the documentation

alt.Chart(...)

In [7]:
data['OCC'] = data['CMPLNT_FR_DT'].astype(str) + " " +data['CMPLNT_FR_TM']
data['OCC_END'] = data['CMPLNT_TO_DT'].astype(str) + " " +data['CMPLNT_TO_TM']

In [8]:
data['OCC'].head(5)

0    03/29/2018 20:30:00
1    02/06/2018 23:15:00
2    11/21/2018 00:15:00
3    06/09/2018 21:42:00
4    11/10/2018 19:40:00
Name: OCC, dtype: object

In [9]:
data['OCC_END'].head(5)

0                    NaN
1                    NaN
2    11/21/2018 00:20:00
3    06/09/2018 21:43:00
4    11/10/2018 19:45:00
Name: OCC_END, dtype: object

In [10]:
data['OCC'] = pandas.to_datetime(data['OCC'])
data['OCC'].head(15)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1028-06-21 18:00:00 present at position 27658

In [ ]:
data['OCC_END'] = pandas.to_datetime(data['OCC_END'], errors = 'ignore')
data['RPT_DT'] = pandas.to_datetime(data['RPT_DT'], errors = 'ignore')

In [ ]:
(data['OCC'][3])

In [ ]:
data['OCC_END'].head(5)

In [ ]:
data['RPT_DT'].head(5)

In [ ]:
import pickle

with open('data.pickle', 'wb') as f:
    pickle.dump(data, f)

In [ ]:
data_notexact=data[~data['CMPLNT_TO_DT'].isna()]
data_exact=data[data['CMPLNT_TO_DT'].isna()]

In [ ]:
def exact_moment(x):
    if (x < pandas.to_datetime('12:00:00')) & (x  >= pandas.to_datetime('06:00:00')):
            return "Morning" 
    else:
        if (x < pandas.to_datetime('18:00:00')) & (x >= pandas.to_datetime('12:00:00')):
            return "Afternoon"
        else:
            if (x  <= pandas.to_datetime('23:59:59')) & (x >= pandas.to_datetime('18:00:00')):    
                return "Night"
            else:
                return "Dawn"

In [ ]:
data_exact['Moment'] = data_exact['OCC'].apply(exact_moment)

In [ ]:
data = data[(data['PD_CD'] > 149) & (data['PD_CD'] < 181)]
data
#Filter data by se-related crimes

In [ ]:
def notexact_moment(x):
    if x[2]==x[3]:    
        if (x[1] < pandas.to_datetime('12:00:00')) & (x[0]  >= pandas.to_datetime('06:00:00')):
                return "Morning" 
        else:
            if (x[1] < pandas.to_datetime('18:00:00')) & (x[0] >= pandas.to_datetime('12:00:00')):
                return "Afternoon"
            else:
                if (x[1]  <= pandas.to_datetime('23:59:59')) & (x[0] >= pandas.to_datetime('18:00:00')):    
                    return "Night"
                else:
                    if (x[1] < pandas.to_datetime('06:00:00')) & (x[0] >= pandas.to_datetime('00:00:00')):
                            return "Dawn"    
                    else:
                            return "Not certain"
    else:
         return 'Not certain'

In [ ]:
data_notexact['Moment']=data_notexact[['OCC','OCC_END','CMPLNT_FR_DT','CMPLNT_TO_DT']].apply(notexact_moment)

In [ ]:
def year(x):
    if len(x)>5:
        return x.split('/')[2]

In [ ]:
def day(x):
    if len(x)>5:
        return x.split('/')[1]

In [ ]:
def month(x):
    if len(x)>5:
        return x.split('/')[0]

In [ ]:
#separate day from month and year
data['CMPLNT_FR_DT'] = data['CMPLNT_FR_DT'].astype(str)
data['CMPLNT_TO_DT'] = data['CMPLNT_TO_DT'].astype(str)
data['Year']=data['CMPLNT_FR_DT'].apply(year)
data['YearEnd']=data['CMPLNT_TO_DT'].apply(year)
data['Month']=data['CMPLNT_FR_DT'].apply(month)
data['MonthEnd']=data['CMPLNT_TO_DT'].apply(month)
data['Day']=data['CMPLNT_FR_DT'].apply(day)
data['DayEnd']=data['CMPLNT_TO_DT'].apply(day)

In [ ]:
# Functions to eliminate invalid rows
def eliminateyear(x):
    n=pandas.to_numeric(x)
    if ~pandas.isna(x):
        if (n<2006) | (n>2023):
            return True
        else:
            return False

In [ ]:
def eliminatemonth(x):
    n=pandas.to_numeric(x)
    if ~pandas.isna(x):
        if (n<1) | (n>12):
            return True
        else:
            return False

In [ ]:
def eliminateday(x):
    n=pandas.to_numeric(x)
    if ~pandas.isna(x):
        if (n<1) | (n>31):
            return True
        else:
            return False

In [ ]:
y=data['Year'].apply(eliminateyear)
y1=data['YearEnd'].apply(eliminateyear)
m=data['Month'].apply(eliminatemonth)
m1=data['MonthEnd'].apply(eliminatemonth)
d=data['Day'].apply(eliminateday)
d1=data['DayEnd'].apply(eliminateday)