In [11]:
import pandas

In [12]:
data = pandas.read_csv("..//NYPD_Complaint_Data_Historic.csv")
type(data)

C:\Users\Kaninik\AppData\Local\Temp\ipykernel_24520\2705847737.py:1: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pandas.read_csv("..//NYPD_Complaint_Data_Historic.csv")

pandas.core.frame.DataFrame

In [13]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  float64
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   float64
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: float64(8), int64(2), object(25)
memory usage: 2.0+ GB

,CMPLNT_NUM,ADDR_PCT_CD,KY_CD,PD_CD,JURISDICTION_CODE,X_COORD_CD,Y_COORD_CD,TRANSIT_DISTRICT,Latitude,Longitude
count,7.825499e+06,7.823333e+06,7.825499e+06,7.818738e+06,7.818738e+06,7.808160e+06,7.808160e+06,172475.000000,7.808160e+06,7.808160e+06
mean,5.500321e+08,6.334306e+01,2.968756e+02,4.126822e+02,7.088369e-01,1.004886e+06,2.071330e+05,13.605833,4.073517e+01,-7.392551e+01
std,2.597822e+08,3.450825e+01,1.511127e+02,2.176568e+02,6.648380e+00,2.169996e+04,3.139557e+04,12.475836,8.609054e-02,7.825796e-02
min,1.000001e+08,1.000000e+00,1.010000e+02,1.000000e+02,0.000000e+00,1.110000e+02,1.110000e+02,1.000000,4.011271e+01,-7.751921e+01
25%,3.250977e+08,4.000000e+01,1.170000e+02,2.540000e+02,0.000000e+00,9.917690e+05,1.844240e+05,3.000000,4.067280e+01,-7.397287e+01
50%,5.500406e+08,6.300000e+01,3.410000e+02,3.800000e+02,0.000000e+00,1.004419e+06,2.061090e+05,11.000000,4.073236e+01,-7.392721e+01
75%,7.750019e+08,9.400000e+01,3.510000e+02,6.370000e+02,0.000000e+00,1.016689e+06,2.351720e+05,30.000000,4.081215e+01,-7.388291e+01
max,9.999999e+08,1.230000e+02,8.810000e+02,9.750000e+02,9.700000e+01,1.067298e+06,7.250292e+06,34.000000,5.965727e+01,-7.368479e+01

In [14]:
def make_categorical(dataframe, column):
    # make the column of the dataframe categorical
    dataframe[column] = dataframe[column].astype('category')

# get a lst of all the columns in the dataframe
columns = ['ADDR_PCT_CD', 'BORO_NM', 'CRM_ATPT_CPTD_CD', 'HADEVELOPT', 'HOUSING_PSA', 'JURISDICTION_CODE', 'JURIS_DESC', 'KY_CD', 'LAW_CAT_CD', 'LOC_OF_OCCUR_DESC', 'OFNS_DESC', 'PARKS_NM', 'PATROL_BORO', 'PD_CD', 'PD_DESC', 'RPT_DT', 'STATION_NAME', 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX']

    # make each column categorical
for column in columns:
    make_categorical(data, column)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        category
 6   RPT_DT             category
 7   KY_CD              category
 8   OFNS_DESC          category
 9   PD_CD              category
 10  PD_DESC            category
 11  CRM_ATPT_CPTD_CD   category
 12  LAW_CAT_CD         category
 13  BORO_NM            category
 14  LOC_OF_OCCUR_DESC  category
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         category
 17  JURISDICTION_CODE  category
 18  PARKS_NM           category
 19  HADEVELOPT         category
 20  HOUSING_PSA        category
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     category
 24  SUSP_RACE          category
 25  SUSP_SEX           category
 26  TRANSIT_DISTRICT   category
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        category
 31  STATION_NAME       category
 32  VIC_AGE_GROUP      category
 33  VIC_RACE           category
 34  VIC_SEX            category
dtypes: category(24), float64(4), int64(1), object(6)
memory usage: 896.0+ MB

In [16]:
data['PD_DESC'].value_counts()

ASSAULT 3                           676780
HARASSMENT,SUBD 3,4,5               668605
LARCENY,PETIT FROM STORE-SHOPL      402081
AGGRAVATED HARASSMENT 2             390612
HARASSMENT,SUBD 1,CIVILIAN          351525
                                     ...
AGGRAVATED GRAND LARCENY OF ATM          1
USE CHILD TO COMMIT CONT SUB OFF         1
ANARCHY,CRIMINAL                         1
HIND PROSEC. TERR 2                      1
SMOKING TRANSPORTATION FACILIT           1
Name: PD_DESC, Length: 422, dtype: int64

In [17]:
data['PD_CD'].value_counts()

101.0    676780
638.0    668605
333.0    402081
639.0    390612
637.0    351525
          ...
522.0         1
819.0         1
667.0         1
678.0         1
975.0         1
Name: PD_CD, Length: 432, dtype: int64

In [18]:
data.iloc[:,:5]

         CMPLNT_NUM CMPLNT_FR_DT CMPLNT_FR_TM CMPLNT_TO_DT CMPLNT_TO_TM
0         506547392   03/29/2018     20:30:00          NaN          NaN
1         629632833   02/06/2018     23:15:00          NaN          NaN
2         787203902   11/21/2018     00:15:00   11/21/2018     00:20:00
3         280364018   06/09/2018     21:42:00   06/09/2018     21:43:00
4         985800320   11/10/2018     19:40:00   11/10/2018     19:45:00
...             ...          ...          ...          ...          ...
7825494   104527061   05/01/2008     18:55:00   05/01/2018     19:00:00
7825495   284201488   05/18/2018     14:50:00   05/18/2018     14:55:00
7825496   808565901   11/19/2018     02:25:00   11/19/2018     02:30:00
7825497   649441648   02/03/2018     10:02:00   02/03/2018     12:15:00
7825498   803166404   01/05/2018     14:40:00   01/05/2018     16:00:00

[7825499 rows x 5 columns]

In [19]:
data['OCC'] = data['CMPLNT_FR_DT'].astype(str) + " " +data['CMPLNT_FR_TM']
data['OCC_END'] = data['CMPLNT_TO_DT'].astype(str) + " " +data['CMPLNT_TO_TM']

In [20]:
data['OCC'].head(5)

0    03/29/2018 20:30:00
1    02/06/2018 23:15:00
2    11/21/2018 00:15:00
3    06/09/2018 21:42:00
4    11/10/2018 19:40:00
Name: OCC, dtype: object

In [21]:
data['OCC_END'].head(5)

0                    NaN
1                    NaN
2    11/21/2018 00:20:00
3    06/09/2018 21:43:00
4    11/10/2018 19:45:00
Name: OCC_END, dtype: object

In [22]:
data['OCC'] = pandas.to_datetime(data['OCC'], errors='ignore')

In [23]:
data['OCC_END'] = pandas.to_datetime(data['OCC_END'], errors = 'ignore')
data['RPT_DT'] = pandas.to_datetime(data['RPT_DT'], errors = 'ignore')

In [24]:
type(data['OCC'][1])

str

In [25]:
data['OCC_END'].head(5)

0                    NaN
1                    NaN
2    11/21/2018 00:20:00
3    06/09/2018 21:43:00
4    11/10/2018 19:45:00
Name: OCC_END, dtype: object

In [26]:
data['RPT_DT'].head(5)

0   2018-03-30
1   2018-02-07
2   2018-11-21
3   2018-06-10
4   2018-11-10
Name: RPT_DT, dtype: category
Categories (5844, datetime64[ns]): [2006-01-01, 2007-01-01, 2008-01-01, 2009-01-01, ..., 2018-12-31, 2019-12-31, 2020-12-31, 2021-12-31]

In [27]:
import pickle

with open('data.pickle', 'wb') as f:
    pickle.dump(data, f)

In [28]:
data_notexact=data[~data['CMPLNT_TO_DT'].isna()]
data_exact=data[data['CMPLNT_TO_DT'].isna()]

In [29]:
def exact_moment(x):
    if (x < pandas.to_datetime('12:00:00')) & (x  >= pandas.to_datetime('06:00:00')):
            return "Morning" 
    else:
        if (x < pandas.to_datetime('18:00:00')) & (x >= pandas.to_datetime('12:00:00')):
            return "Afternoon"
        else:
            if (x  <= pandas.to_datetime('23:59:59')) & (x >= pandas.to_datetime('18:00:00')):    
                return "Night"
            else:
                return "Dawn"

In [30]:
data_exact['Moment']=data_exact['OCC'].apply(exact_moment)

TypeError: '<' not supported between instances of 'str' and 'Timestamp'

In [ ]:
data = data[(data['PD_CD'] > 149) & (data['PD_CD'] < 181)]
data
#Filter data by se-related crimes

In [ ]:
def notexact_moment(x):
    if x[2]==x[3]:    
        if (x[1] < pandas.to_datetime('12:00:00')) & (x[0]  >= pandas.to_datetime('06:00:00')):
                return "Morning" 
        else:
            if (x[1] < pandas.to_datetime('18:00:00')) & (x[0] >= pandas.to_datetime('12:00:00')):
                return "Afternoon"
            else:
                if (x[1]  <= pandas.to_datetime('23:59:59')) & (x[0] >= pandas.to_datetime('18:00:00')):    
                    return "Night"
                else:
                    if (x[1] < pandas.to_datetime('06:00:00')) & (x[0] >= pandas.to_datetime('00:00:00')):
                            return "Dawn"    
                    else:
                            return "Not certain"
    else:
         return 'Not certain'

In [ ]:
data_notexact['Moment']=data_notexact[['OCC','OCC_END','CMPLNT_FR_DT','CMPLNT_TO_DT']].apply(notexact_moment)