In [2]:
import pandas

In [15]:
data = pandas.read_csv("NYPD_Complaint_Data_Historic.csv")
type(data)

C:\Users\Kelvi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (18,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

pandas.core.frame.DataFrame

In [16]:

data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  float64
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   float64
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: float64(8), int64(2), object(25)
memory usage: 2.0+ GB

,CMPLNT_NUM,ADDR_PCT_CD,KY_CD,PD_CD,JURISDICTION_CODE,X_COORD_CD,Y_COORD_CD,TRANSIT_DISTRICT,Latitude,Longitude
count,7.825499e+06,7.823333e+06,7.825499e+06,7.818738e+06,7.818738e+06,7.808160e+06,7.808160e+06,172475.000000,7.808160e+06,7.808160e+06
mean,5.500321e+08,6.334306e+01,2.968756e+02,4.126822e+02,7.088369e-01,1.004886e+06,2.071330e+05,13.605833,4.073517e+01,-7.392551e+01
std,2.597822e+08,3.450825e+01,1.511127e+02,2.176568e+02,6.648380e+00,2.169996e+04,3.139557e+04,12.475836,8.609054e-02,7.825796e-02
min,1.000001e+08,1.000000e+00,1.010000e+02,1.000000e+02,0.000000e+00,1.110000e+02,1.110000e+02,1.000000,4.011271e+01,-7.751921e+01
25%,3.250977e+08,4.000000e+01,1.170000e+02,2.540000e+02,0.000000e+00,9.917690e+05,1.844240e+05,3.000000,4.067280e+01,-7.397287e+01
50%,5.500406e+08,6.300000e+01,3.410000e+02,3.800000e+02,0.000000e+00,1.004419e+06,2.061090e+05,11.000000,4.073236e+01,-7.392721e+01
75%,7.750019e+08,9.400000e+01,3.510000e+02,6.370000e+02,0.000000e+00,1.016689e+06,2.351720e+05,30.000000,4.081215e+01,-7.388291e+01
max,9.999999e+08,1.230000e+02,8.810000e+02,9.750000e+02,9.700000e+01,1.067298e+06,7.250292e+06,34.000000,5.965727e+01,-7.368479e+01

In [18]:
data['PD_DESC'].value_counts()

ASSAULT 3                           676780
HARASSMENT,SUBD 3,4,5               668605
LARCENY,PETIT FROM STORE-SHOPL      402081
AGGRAVATED HARASSMENT 2             390612
HARASSMENT,SUBD 1,CIVILIAN          351525
                                     ...
ABORTIONAL ARTICLES,ISSUING              1
HIND PROSEC. TERR 2                      1
ABORTION 2, 1, SELF                      1
PUBLIC HEALTH LAW,GLUE,INHALAT           1
USE CHILD TO COMMIT CONT SUB OFF         1
Name: PD_DESC, Length: 422, dtype: int64

In [17]:
data['PD_CD'].value_counts()

101.0    676780
638.0    668605
333.0    402081
639.0    390612
637.0    351525
          ...
440.0         1
146.0         1
148.0         1
885.0         1
975.0         1
Name: PD_CD, Length: 432, dtype: int64

In [21]:
data.iloc[:,:5]

         CMPLNT_NUM CMPLNT_FR_DT CMPLNT_FR_TM CMPLNT_TO_DT CMPLNT_TO_TM
0         506547392   03/29/2018     20:30:00          NaN          NaN
1         629632833   02/06/2018     23:15:00          NaN          NaN
2         787203902   11/21/2018     00:15:00   11/21/2018     00:20:00
3         280364018   06/09/2018     21:42:00   06/09/2018     21:43:00
4         985800320   11/10/2018     19:40:00   11/10/2018     19:45:00
...             ...          ...          ...          ...          ...
7825494   104527061   05/01/2008     18:55:00   05/01/2018     19:00:00
7825495   284201488   05/18/2018     14:50:00   05/18/2018     14:55:00
7825496   808565901   11/19/2018     02:25:00   11/19/2018     02:30:00
7825497   649441648   02/03/2018     10:02:00   02/03/2018     12:15:00
7825498   803166404   01/05/2018     14:40:00   01/05/2018     16:00:00

[7825499 rows x 5 columns]

In [64]:
data['OCC'] = data['CMPLNT_FR_DT'].astype(str) + " " +data['CMPLNT_FR_TM']
data['OCC_END'] = data['CMPLNT_TO_DT'].astype(str) + " " +data['CMPLNT_TO_TM']

In [61]:
data['OCC']

0          03/29/2018 20:30:00
1          02/06/2018 23:15:00
2          11/21/2018 00:15:00
3          06/09/2018 21:42:00
4          11/10/2018 19:40:00
                  ...
7825494    05/01/2008 18:55:00
7825495    05/18/2018 14:50:00
7825496    11/19/2018 02:25:00
7825497    02/03/2018 10:02:00
7825498    01/05/2018 14:40:00
Name: OCC, Length: 7825499, dtype: object

In [65]:
data['OCC_END']

0                          NaN
1                          NaN
2          11/21/2018 00:20:00
3          06/09/2018 21:43:00
4          11/10/2018 19:45:00
                  ...
7825494    05/01/2018 19:00:00
7825495    05/18/2018 14:55:00
7825496    11/19/2018 02:30:00
7825497    02/03/2018 12:15:00
7825498    01/05/2018 16:00:00
Name: OCC_END, Length: 7825499, dtype: object

In [66]:
data['OCC'] = pandas.to_datetime(data['OCC'], errors = 'coerce')
data['OCC_END'] = pandas.to_datetime(data['OCC_END'], errors = 'coerce')

In [69]:
data['OCC']

0         2018-03-29 20:30:00
1         2018-02-06 23:15:00
2         2018-11-21 00:15:00
3         2018-06-09 21:42:00
4         2018-11-10 19:40:00
                  ...
7825494   2008-05-01 18:55:00
7825495   2018-05-18 14:50:00
7825496   2018-11-19 02:25:00
7825497   2018-02-03 10:02:00
7825498   2018-01-05 14:40:00
Name: OCC, Length: 7825499, dtype: datetime64[ns]

In [70]:
data['OCC_END']

0                         NaT
1                         NaT
2         2018-11-21 00:20:00
3         2018-06-09 21:43:00
4         2018-11-10 19:45:00
                  ...
7825494   2018-05-01 19:00:00
7825495   2018-05-18 14:55:00
7825496   2018-11-19 02:30:00
7825497   2018-02-03 12:15:00
7825498   2018-01-05 16:00:00
Name: OCC_END, Length: 7825499, dtype: datetime64[ns]