In [208]:
import pandas
import altair
import numpy

In [209]:
base_data = pandas.read_csv("..//NYPD_Complaint_Data_Historic.csv")

C:\Users\Kaninik\AppData\Local\Temp\ipykernel_28100\2199820771.py:1: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  base_data = pandas.read_csv("..//NYPD_Complaint_Data_Historic.csv")

In [210]:
data = base_data
data.info()
data.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  float64
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   float64
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: float64(8), int64(2), object(25)
memory usage: 2.0+ GB

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
3000987,673064121,11/04/2017,13:30:00,11/04/2017,13:40:00,101.0,11/04/2017,106,FELONY ASSAULT,109.0,...,U,NaN,40.597788,-73.783445,"(40.597787926, -73.783444771)",PATROL BORO QUEENS SOUTH,NaN,UNKNOWN,UNKNOWN,E
7033990,124269991,08/28/2011,15:48:00,08/28/2011,16:25:00,78.0,08/28/2011,232,POSSESSION OF STOLEN PROPERTY,490.0,...,M,NaN,40.671799,-73.996999,"(40.671799266, -73.996998539)",PATROL BORO BKLYN SOUTH,NaN,NaN,UNKNOWN,D
5626939,978932454,03/15/2006,11:00:00,03/15/2006,15:00:00,1.0,03/15/2006,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,M,NaN,40.708458,-74.011132,"(40.708457918, -74.011132372)",PATROL BORO MAN SOUTH,NaN,25-44,BLACK,F
3966129,264787111,09/27/2016,00:00:00,09/27/2016,01:00:00,14.0,09/27/2016,341,PETIT LARCENY,338.0,...,NaN,NaN,40.745451,-73.981437,"(40.745450796, -73.9814372)",PATROL BORO MAN SOUTH,NaN,45-64,BLACK,M
7732332,304563948,09/29/2018,14:15:00,09/29/2018,14:17:00,34.0,10/01/2018,106,FELONY ASSAULT,109.0,...,M,NaN,40.850011,-73.935362,"(40.850011069, -73.935361806)",PATROL BORO MAN NORTH,NaN,65+,WHITE HISPANIC,M
6029984,306523755,04/02/2009,14:50:00,04/02/2009,14:55:00,24.0,04/02/2009,109,GRAND LARCENY,419.0,...,NaN,NaN,40.792137,-73.971774,"(40.792136874, -73.971774405)",PATROL BORO MAN NORTH,NaN,<18,WHITE HISPANIC,M
3360591,518145198,12/13/2017,13:20:00,NaN,NaN,40.0,12/13/2017,351,CRIMINAL MISCHIEF & RELATED OF,258.0,...,NaN,NaN,40.811393,-73.922315,"(40.811393119, -73.922314872)",PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,D
960985,396012153,06/29/2019,14:00:00,07/12/2019,15:50:00,10.0,07/13/2019,109,GRAND LARCENY,422.0,...,NaN,NaN,40.747761,-74.002272,"(40.74776060300008, -74.002271534)",PATROL BORO MAN SOUTH,NaN,25-44,WHITE,F
1564917,587712559,04/20/2021,19:16:00,04/20/2021,19:22:00,121.0,04/20/2021,341,PETIT LARCENY,333.0,...,M,NaN,40.607669,-74.121054,"(40.60766949400005, -74.12105391899996)",PATROL BORO STATEN ISLAND,NaN,UNKNOWN,UNKNOWN,D
387379,219386417,08/29/2013,02:00:00,08/29/2013,02:20:00,7.0,08/29/2013,341,PETIT LARCENY,338.0,...,NaN,NaN,40.722053,-73.988215,"(40.722052656, -73.988215267)",PATROL BORO MAN SOUTH,NaN,18-24,WHITE,M

In [233]:
def make_categorical(dataframe, column):
    # make the column of the dataframe categorical
    dataframe[column] = dataframe[column].astype('category')

# get a lst of all the columns in the dataframe that need to be categorical

columns = ['ADDR_PCT_CD', 'BORO_NM', 'CRM_ATPT_CPTD_CD', 'HADEVELOPT', 'HOUSING_PSA', 'JURISDICTION_CODE', 'JURIS_DESC', 'KY_CD', 'LAW_CAT_CD', 'LOC_OF_OCCUR_DESC', 'OFNS_DESC', 'PARKS_NM', 'PATROL_BORO', 'PD_CD', 'PD_DESC', 'STATION_NAME', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT', 'VIC_RACE', 'VIC_SEX']

    # make each column categorical
for column in columns:
    make_categorical(data, column)

In [212]:
#remove values that don't belong to a suspect age group
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.len()==4, None, data['SUSP_AGE_GROUP'])
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.startswith("-"), None, data['SUSP_AGE_GROUP'])
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.contains("<"), data['SUSP_AGE_GROUP'] + ' ', data['SUSP_AGE_GROUP'])
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.endswith("+"), data['SUSP_AGE_GROUP'] + ' ', data['SUSP_AGE_GROUP'])
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.len()==3, None, data['SUSP_AGE_GROUP'])
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.contains("UNKNOWN"), None, data['SUSP_AGE_GROUP'])

In [213]:
#remove values that don't belong to a victim age group
data['VIC_AGE_GROUP'] = numpy.where(data['VIC_AGE_GROUP'].str.len()==4, None, data['VIC_AGE_GROUP'])
data['VIC_AGE_GROUP'] = numpy.where(data['VIC_AGE_GROUP'].str.startswith("-"), None, data['VIC_AGE_GROUP'])
data['VIC_AGE_GROUP'] = numpy.where(data['VIC_AGE_GROUP'].str.contains("<"), data['VIC_AGE_GROUP'] + ' ', data['VIC_AGE_GROUP'])
data['VIC_AGE_GROUP'] = numpy.where(data['VIC_AGE_GROUP'].str.endswith("+"), data['VIC_AGE_GROUP'] + ' ', data['VIC_AGE_GROUP'])
data['VIC_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.contains("UNKNOWN"), None, data['SUSP_AGE_GROUP'])
data['VIC_AGE_GROUP'] = numpy.where(data['VIC_AGE_GROUP'].str.len()==3, None, data['VIC_AGE_GROUP'])

In [214]:
def make_categorical(dataframe, column):
    # make the column of the dataframe categorical
    dataframe[column] = dataframe[column].astype('category')

# get a lst of all the columns in the dataframe
columns = ['SUSP_AGE_GROUP', 'VIC_AGE_GROUP']

    # make each column categorical
for column in columns:
    make_categorical(data, column)

In [215]:
# Define cleaners functions for date values

def year(x):
    if len(x)>5:
        return x.split('/')[2]
def day(x):
    if len(x)>5:
        return x.split('/')[1]
def month(x):
    if len(x)>5:
        return x.split('/')[0]

# Functions to eliminate invalid rows, True means Valid, False means Invalid
def eliminateyear(x):
    if (x<2006) | (x>2023):
        return False
    else:
        return True

def eliminatemonth(x):
    if (x<1) | (x>12):
        return False
    else:
        return True

def eliminateday(x):
    if (x<1) | (x>31):
        return False
    else:
        return True

In [216]:
#separate day from month and year
data['CMPLNT_FR_DT'] = data['CMPLNT_FR_DT'].convert_dtypes(convert_string=True).astype(str)

data['CMPLNT_TO_DT'] = data['CMPLNT_TO_DT'].convert_dtypes()
data.dtypes

CMPLNT_NUM              int64
CMPLNT_FR_DT           object
CMPLNT_FR_TM           object
CMPLNT_TO_DT           string
CMPLNT_TO_TM           object
ADDR_PCT_CD          category
RPT_DT                 object
KY_CD                category
OFNS_DESC            category
PD_CD                category
PD_DESC              category
CRM_ATPT_CPTD_CD     category
LAW_CAT_CD           category
BORO_NM              category
LOC_OF_OCCUR_DESC    category
PREM_TYP_DESC          object
JURIS_DESC           category
JURISDICTION_CODE    category
PARKS_NM             category
HADEVELOPT           category
HOUSING_PSA          category
X_COORD_CD            float64
Y_COORD_CD            float64
SUSP_AGE_GROUP       category
SUSP_RACE            category
SUSP_SEX             category
TRANSIT_DISTRICT     category
Latitude              float64
Longitude             float64
Lat_Lon                object
PATROL_BORO          category
STATION_NAME         category
VIC_AGE_GROUP        category
VIC_RACE             category
VIC_SEX              category
dtype: object

In [217]:
# Create a new dataframe to store the cleaned date values
date_cleaning = pandas.DataFrame()

date_cleaning[['Month','Day','Year']] = data['CMPLNT_FR_DT'].str.split('/',expand=True).astype(str)
date_cleaning[['MonthEnd','DayEnd','YearEnd']] = data['CMPLNT_TO_DT'].str.split('/',expand=True).astype(str)

# Convert all columns to int
date_cleaning.dtypes

# find null values inthe dataframe and replace them with 0

Month       object
Day         object
Year        object
MonthEnd    object
DayEnd      object
YearEnd     object
dtype: object

In [218]:
date_cleaning['Month'].value_counts()

08      699892
07      699277
10      688508
05      679922
09      674485
06      672261
01      639379
03      637881
11      629841
04      624115
12      618793
02      560490
<NA>       655
Name: Month, dtype: int64

In [219]:
date_cleaning['Day'].value_counts()

01      327221
15      267905
20      265665
10      261958
05      258788
12      257820
17      256891
21      255994
14      255499
18      255461
02      255286
13      254919
11      254586
16      254266
23      253982
22      253916
03      253902
07      253542
04      253417
06      253396
08      253264
09      253134
28      252507
19      251725
27      250977
24      250905
25      249367
26      248398
29      232743
30      231969
31      145441
None       655
Name: Day, dtype: int64

In [220]:
date_cleaning['Year'].value_counts()

2007    535435
2006    529123
2008    528920
2009    511184
2010    510313
         ...
1940         1
1922         1
1906         1
1930         1
1951         1
Name: Year, Length: 113, dtype: int64

In [221]:
date_cleaning = date_cleaning.fillna(0)
# replace all the values that are not numbers with 0
date_cleaning = date_cleaning.replace('<NA>', 0)
date_cleaning = date_cleaning.replace('nan', 0)
date_cleaning = date_cleaning.replace('None', 0)
# Convert all columns to int
date_cleaning = date_cleaning.astype(int)
date_cleaning

         Month  Day  Year  MonthEnd  DayEnd  YearEnd
0            3   29  2018         0       0        0
1            2    6  2018         0       0        0
2           11   21  2018        11      21     2018
3            6    9  2018         6       9     2018
4           11   10  2018        11      10     2018
...        ...  ...   ...       ...     ...      ...
7825494      5    1  2008         5       1     2018
7825495      5   18  2018         5      18     2018
7825496     11   19  2018        11      19     2018
7825497      2    3  2018         2       3     2018
7825498      1    5  2018         1       5     2018

[7825499 rows x 6 columns]

In [222]:
date_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   Month     int32
 1   Day       int32
 2   Year      int32
 3   MonthEnd  int32
 4   DayEnd    int32
 5   YearEnd   int32
dtypes: int32(6)
memory usage: 179.1 MB

In [223]:
y = date_cleaning['Year'].apply(eliminateyear)
m = date_cleaning['Month'].apply(eliminatemonth) 
d = date_cleaning['Day'].apply(eliminateday)

data = data.loc[y & m & d]

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7804715 entries, 0 to 7825498
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       string
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        category
 6   RPT_DT             object
 7   KY_CD              category
 8   OFNS_DESC          category
 9   PD_CD              category
 10  PD_DESC            category
 11  CRM_ATPT_CPTD_CD   category
 12  LAW_CAT_CD         category
 13  BORO_NM            category
 14  LOC_OF_OCCUR_DESC  category
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         category
 17  JURISDICTION_CODE  category
 18  PARKS_NM           category
 19  HADEVELOPT         category
 20  HOUSING_PSA        category
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     category
 24  SUSP_RACE          category
 25  SUSP_SEX           category
 26  TRANSIT_DISTRICT   category
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        category
 31  STATION_NAME       category
 32  VIC_AGE_GROUP      category
 33  VIC_RACE           category
 34  VIC_SEX            category
dtypes: category(23), float64(4), int64(1), object(6), string(1)
memory usage: 990.2+ MB

In [224]:
# drop rows where CMPLNT_TO_DT is null and CMPLNT_TO_TM is not null
data = data.drop(data[(data['CMPLNT_TO_DT'].isnull()) & (data['CMPLNT_TO_TM'].notnull())].index)

In [225]:
data['OCC'] = data['CMPLNT_FR_DT'].astype(str) # + " " +data['CMPLNT_FR_TM']
data['OCC_END'] = data['CMPLNT_TO_DT'].astype(str) # + " " +data['CMPLNT_TO_TM']

In [226]:
data['OCC'].head(5)

0    03/29/2018
1    02/06/2018
2    11/21/2018
3    06/09/2018
4    11/10/2018
Name: OCC, dtype: object

In [227]:
data['OCC_END'].head(5)

0          <NA>
1          <NA>
2    11/21/2018
3    06/09/2018
4    11/10/2018
Name: OCC_END, dtype: object

In [228]:
data['OCC'] = pandas.to_datetime(data['OCC'], errors = 'raise', )# format = '%m/%d/%Y %H:%M:%S')
data['OCC'].head(15)

0    2018-03-29
1    2018-02-06
2    2018-11-21
3    2018-06-09
4    2018-11-10
5    2018-03-12
6    2013-04-07
7    2018-09-12
8    2018-01-16
9    2018-08-04
10   2018-09-26
11   2018-02-11
12   2018-11-04
13   2017-12-22
14   2018-12-01
Name: OCC, dtype: datetime64[ns]

In [229]:
data['RPT_DT'] = pandas.to_datetime(data['RPT_DT'], errors = 'raise', format = '%m/%d/%Y')

In [230]:
data['OCC_END'].sample(15)

3817465    10/08/2014
7079909    05/15/2007
3401115    01/08/2015
1955769    09/24/2016
2802165    08/19/2017
716810           <NA>
2901153    02/19/2011
3217202    06/18/2013
2836413    10/19/2015
7485948    02/20/2011
3631256    03/19/2015
7651748    03/19/2014
1742294    01/26/2011
2726189    04/28/2017
6360741    12/03/2006
Name: OCC_END, dtype: object

In [231]:
data['RPT_DT'].head(5)

0   2018-03-30
1   2018-02-07
2   2018-11-21
3   2018-06-10
4   2018-11-10
Name: RPT_DT, dtype: datetime64[ns]

In [232]:
import pickle

with open('data.pickle', 'wb') as f:
    pickle.dump(data, f)