# Date Import and Cleaning
This file imports the data from the NYPD Complaint Data - Historic Data set, and pre-processes it to be faster to impoprt and more memory efficient. The file converts the data to cetegorical and removes missing or broken values.

In [1]:
import pandas
import altair
import numpy

In [2]:
base_data = pandas.read_csv("NYPD_Complaint_Data_Historic.csv")

C:\Users\Kelvi\AppData\Local\Temp\ipykernel_7504\3978285543.py:1: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  base_data = pandas.read_csv("NYPD_Complaint_Data_Historic.csv")

In [3]:
data = base_data
data.info()
data.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  float64
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   float64
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: float64(8), int64(2), object(25)
memory usage: 2.0+ GB

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
176308,310282905,01/15/2018,13:20:00,01/15/2018,13:59:00,70.0,01/15/2018,236,DANGEROUS WEAPONS,782.0,...,M,NaN,40.653675,-73.962787,"(40.653674996, -73.96278707)",PATROL BORO BKLYN SOUTH,NaN,UNKNOWN,UNKNOWN,M
1831155,820263003,01/13/2011,13:30:00,01/13/2011,14:00:00,107.0,01/13/2011,109,GRAND LARCENY,419.0,...,M,NaN,40.711766,-73.795624,"(40.711765634, -73.795623581)",PATROL BORO QUEENS SOUTH,NaN,25-44,ASIAN / PACIFIC ISLANDER,F
1890675,859598988,09/17/2017,10:25:00,09/17/2017,10:30:00,120.0,09/17/2017,106,FELONY ASSAULT,105.0,...,M,NaN,40.623720,-74.085107,"(40.623720357, -74.085106525)",PATROL BORO STATEN ISLAND,NaN,25-44,WHITE HISPANIC,M
3016560,670399855,07/08/2014,19:00:00,07/08/2014,20:00:00,104.0,07/08/2014,341,PETIT LARCENY,333.0,...,NaN,NaN,40.712362,-73.891225,"(40.712362272, -73.89122506)",PATROL BORO QUEENS NORTH,NaN,NaN,UNKNOWN,D
3704889,706437749,12/23/2010,08:00:00,01/26/2011,20:00:00,63.0,02/08/2011,109,GRAND LARCENY,405.0,...,NaN,NaN,40.606943,-73.913974,"(40.60694349, -73.913974168)",PATROL BORO BKLYN SOUTH,NaN,45-64,WHITE,F
5432843,637158252,12/08/2011,15:30:00,NaN,NaN,23.0,12/10/2011,351,CRIMINAL MISCHIEF & RELATED OF,258.0,...,NaN,NaN,40.788845,-73.946176,"(40.788845063, -73.946175538)",PATROL BORO MAN NORTH,NaN,NaN,UNKNOWN,D
2850447,221096792,03/01/2015,12:00:00,NaN,NaN,9.0,03/24/2015,233,SEX CRIMES,175.0,...,F,NaN,40.726554,-73.987828,"(40.726554019, -73.987828427)",PATROL BORO MAN SOUTH,NaN,<18,WHITE HISPANIC,M
4548823,641268542,12/15/2015,11:00:00,01/05/2016,08:30:00,34.0,01/05/2016,578,HARRASSMENT 2,638.0,...,M,NaN,40.850460,-73.938470,"(40.850460156, -73.938469935)",PATROL BORO MAN NORTH,NaN,65+,WHITE HISPANIC,F
2329325,674726000,07/22/2020,12:00:00,07/22/2020,12:05:00,42.0,07/22/2020,578,HARRASSMENT 2,638.0,...,M,NaN,40.836630,-73.885536,"(40.83663035500007, -73.88553604799995)",PATROL BORO BRONX,NaN,45-64,WHITE HISPANIC,M
2009950,355786120,11/21/2020,18:10:00,11/21/2020,18:11:00,110.0,11/21/2020,348,VEHICLE AND TRAFFIC LAWS,916.0,...,M,NaN,40.733927,-73.871582,"(40.73392684100002, -73.87158239799999)",PATROL BORO QUEENS NORTH,NaN,<18,WHITE HISPANIC,F

In [4]:
def make_categorical(dataframe, column):
    # make the column of the dataframe categorical
    dataframe[column] = dataframe[column].astype('category')

# get a lst of all the columns in the dataframe that need to be categorical

columns = ['ADDR_PCT_CD', 'BORO_NM', 'CRM_ATPT_CPTD_CD', 'HADEVELOPT', 'HOUSING_PSA', 'JURISDICTION_CODE', 'JURIS_DESC', 'KY_CD', 'LAW_CAT_CD', 'LOC_OF_OCCUR_DESC', 'OFNS_DESC', 'PARKS_NM', 'PATROL_BORO', 'PD_CD', 'PD_DESC', 'STATION_NAME', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT', 'VIC_RACE', 'VIC_SEX']

    # make each column categorical
for column in columns:
    make_categorical(data, column)

In [5]:
#remove values that don't belong to a suspect age group
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.len()==4, None, data['SUSP_AGE_GROUP'])
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.startswith("-"), None, data['SUSP_AGE_GROUP'])
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.contains("<"), data['SUSP_AGE_GROUP'] + ' ', data['SUSP_AGE_GROUP'])
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.endswith("+"), data['SUSP_AGE_GROUP'] + ' ', data['SUSP_AGE_GROUP'])
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.len()==3, None, data['SUSP_AGE_GROUP'])
data['SUSP_AGE_GROUP'] = numpy.where(data['SUSP_AGE_GROUP'].str.contains("UNKNOWN"), None, data['SUSP_AGE_GROUP'])

In [6]:
#remove values that don't belong to a victim age group
data['VIC_AGE_GROUP'] = numpy.where(data['VIC_AGE_GROUP'].str.len()==4, None, data['VIC_AGE_GROUP'])
data['VIC_AGE_GROUP'] = numpy.where(data['VIC_AGE_GROUP'].str.startswith("-"), None, data['VIC_AGE_GROUP'])
data['VIC_AGE_GROUP'] = numpy.where(data['VIC_AGE_GROUP'].str.contains("<"), data['VIC_AGE_GROUP'] + ' ', data['VIC_AGE_GROUP'])
data['VIC_AGE_GROUP'] = numpy.where(data['VIC_AGE_GROUP'].str.endswith("+"), data['VIC_AGE_GROUP'] + ' ', data['VIC_AGE_GROUP'])
data['VIC_AGE_GROUP'] = numpy.where(data['VIC_AGE_GROUP'].str.contains("UNKNOWN"), None, data['VIC_AGE_GROUP'])
data['VIC_AGE_GROUP'] = numpy.where(data['VIC_AGE_GROUP'].str.len()==3, None, data['VIC_AGE_GROUP'])

In [7]:
def make_categorical(dataframe, column):
    # make the column of the dataframe categorical
    dataframe[column] = dataframe[column].astype('category')

# get a lst of all the columns in the dataframe
columns = ['SUSP_AGE_GROUP', 'VIC_AGE_GROUP']

    # make each column categorical
for column in columns:
    make_categorical(data, column)

In [8]:
# Define cleaners functions for date values

def year(x):
    if len(x)>5:
        return x.split('/')[2]
def day(x):
    if len(x)>5:
        return x.split('/')[1]
def month(x):
    if len(x)>5:
        return x.split('/')[0]

# Functions to eliminate invalid rows, True means Valid, False means Invalid
def eliminateyear(x):
    if (x<2006) | (x>2023):
        return False
    else:
        return True

def eliminatemonth(x):
    if (x<1) | (x>12):
        return False
    else:
        return True

def eliminateday(x):
    if (x<1) | (x>31):
        return False
    else:
        return True

In [9]:
#separate day from month and year
data['CMPLNT_FR_DT'] = data['CMPLNT_FR_DT'].convert_dtypes(convert_string=True).astype(str)

data['CMPLNT_TO_DT'] = data['CMPLNT_TO_DT'].convert_dtypes()
data.dtypes

CMPLNT_NUM              int64
CMPLNT_FR_DT           object
CMPLNT_FR_TM           object
CMPLNT_TO_DT           string
CMPLNT_TO_TM           object
ADDR_PCT_CD          category
RPT_DT                 object
KY_CD                category
OFNS_DESC            category
PD_CD                category
PD_DESC              category
CRM_ATPT_CPTD_CD     category
LAW_CAT_CD           category
BORO_NM              category
LOC_OF_OCCUR_DESC    category
PREM_TYP_DESC          object
JURIS_DESC           category
JURISDICTION_CODE    category
PARKS_NM             category
HADEVELOPT           category
HOUSING_PSA          category
X_COORD_CD            float64
Y_COORD_CD            float64
SUSP_AGE_GROUP       category
SUSP_RACE            category
SUSP_SEX             category
TRANSIT_DISTRICT     category
Latitude              float64
Longitude             float64
Lat_Lon                object
PATROL_BORO          category
STATION_NAME         category
VIC_AGE_GROUP        category
VIC_RACE             category
VIC_SEX              category
dtype: object

In [10]:
# Create a new dataframe to store the cleaned date values
date_cleaning = pandas.DataFrame()

date_cleaning[['Month','Day','Year']] = data['CMPLNT_FR_DT'].str.split('/',expand=True).astype(str)
date_cleaning[['MonthEnd','DayEnd','YearEnd']] = data['CMPLNT_TO_DT'].str.split('/',expand=True).astype(str)

# Convert all columns to int
date_cleaning.dtypes

# find null values inthe dataframe and replace them with 0

Month       object
Day         object
Year        object
MonthEnd    object
DayEnd      object
YearEnd     object
dtype: object

In [11]:
date_cleaning['Month'].value_counts()

08      699892
07      699277
10      688508
05      679922
09      674485
06      672261
01      639379
03      637881
11      629841
04      624115
12      618793
02      560490
<NA>       655
Name: Month, dtype: int64

In [12]:
date_cleaning['Day'].value_counts()

01      327221
15      267905
20      265665
10      261958
05      258788
12      257820
17      256891
21      255994
14      255499
18      255461
02      255286
13      254919
11      254586
16      254266
23      253982
22      253916
03      253902
07      253542
04      253417
06      253396
08      253264
09      253134
28      252507
19      251725
27      250977
24      250905
25      249367
26      248398
29      232743
30      231969
31      145441
None       655
Name: Day, dtype: int64

In [13]:
date_cleaning['Year'].value_counts()

2007    535435
2006    529123
2008    528920
2009    511184
2010    510313
         ...
1940         1
1922         1
1906         1
1930         1
1951         1
Name: Year, Length: 113, dtype: int64

In [ ]:
date_cleaning = date_cleaning.fillna(0)
# replace all the values that are not numbers with 0
date_cleaning = date_cleaning.replace('<NA>', 0)
date_cleaning = date_cleaning.replace('nan', 0)
date_cleaning = date_cleaning.replace('None', 0)
# Convert all columns to int
date_cleaning = date_cleaning.astype(int)
date_cleaning

In [ ]:
date_cleaning.info()

In [ ]:
y = date_cleaning['Year'].apply(eliminateyear)
m = date_cleaning['Month'].apply(eliminatemonth) 
d = date_cleaning['Day'].apply(eliminateday)

data = data.loc[y & m & d]

data.info()

In [ ]:
# drop rows where CMPLNT_TO_DT is null and CMPLNT_TO_TM is not null
data = data.drop(data[(data['CMPLNT_TO_DT'].isnull()) & (data['CMPLNT_TO_TM'].notnull())].index)

In [ ]:
data['OCC'] = data['CMPLNT_FR_DT'].astype(str) # + " " +data['CMPLNT_FR_TM']
data['OCC_END'] = data['CMPLNT_TO_DT'].astype(str) # + " " +data['CMPLNT_TO_TM']

In [ ]:
data['OCC'].head(5)

In [ ]:
data['OCC_END'].head(5)

In [ ]:
data['OCC'] = pandas.to_datetime(data['OCC'], errors = 'raise', )# format = '%m/%d/%Y %H:%M:%S')
data['OCC'].head(15)

In [ ]:
data['RPT_DT'] = pandas.to_datetime(data['RPT_DT'], errors = 'raise', format = '%m/%d/%Y')

In [ ]:
data['OCC_END'].sample(15)

In [ ]:
data['RPT_DT'].head(5)

In [ ]:
import pickle

with open('data.pickle', 'wb') as f:
    pickle.dump(data, f)